{% extends 'layout.html' %} {% block content %} {% load static %}
<header class="row bg-black">
  <div class="col-md-4">
    <img height="auto" width="auto" class="img-fluid" src="{% static 'portfolio/profile.png' %}" alt="profile" />
  </div>
  <div class="col-md-8 my-auto" >
    <h1>I'm <strong>Mauricio Areas</strong></h1>
    <h2>Python Developer</h2>
    <p>
      I'm a Python Developer with a passion for Web Apps. I'm currently working
      as a freelancer in the <strong>Backend</strong> area.
    </p>
    <p>
      I'm also a <strong>Full Stack</strong> developer, I have experience in
      <strong>Django</strong> and <strong>Flask</strong>.
    </p>
    <p>
      In <strong>Frontend</strong> I have experience in
      <strong>Angular</strong>, <strong>Vue</strong>
    </p>
    <p>I'm also developer in multiples languages/frameworks as:</p>
    <ul>
      <li>PHP</li>
      <li>Java</li>
      <li>C#</li>
      <li>C++</li>
      <li>JavaScript</li>
      <li>NetCore</li>
    </ul>
    <a
      class="btn btn-primary btn-lg rounded-0 my-3"
      href="{% static 'portfolio/cv.pdf' %}"
      target="_blank"
      >Download CV</a
    >
  </div>
</header>
<div class="row my-4 text-center">

  <h3>My Projects</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, aperiam?</p>

  {% for project in projects %}
  <div class="col-md-4 p-4">
    <div class="card bg-black card-project">
      <img src="{{project.image.url }}" class="card-img-top" alt="{{ project.title }}" />

      <div class="card-body">

        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>

        {% if project.url %}
        <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="__blank" rel="noreferrer">Visit the
          Project</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
